nav {
    text-align: right;
}

li {
    display: inline;
    list-style-type: none;    
}

a {
    text-decoration: none;
    padding: 0 5px;
}

main {
	display: flex;
	justify-content: center;
}

footer {
	text-align: center;
}

footer > img {
	height: 300%;
}

.burger-menu {
    height: 20px;
    width: 20px;
    fill: #641a9d;
}

.elt-block {
    display: block;
}